.common_vars: &common_vars
  - export TF_VAR_vault_addr="$VAULT_ADDR"
  - export TF_VAR_vault_role_id="$VAULT_ROLE_ID"
  - export TF_VAR_vault_secret_id="$VAULT_SECRET_ID"
  - export AWS_ENDPOINT_URL_S3="$AWS_ENDPOINT_URL_S3"
  - export AWS_ACCESS_KEY_ID="$AWS_ACCESS_KEY_ID"
  - export AWS_SECRET_ACCESS_KEY="$AWS_SECRET_ACCESS_KEY"
  - export AWS_REGION="$AWS_REGION"
  - export TF_VAR_vm_tags='["dev","tf","cicd","cache","fresh"]'

stages:
  - init_validate
  - plan_infra
  - apply_infra

before_script: *common_vars

validate-init:
  stage: init_validate
  image: 
    name: hashicorp/terraform:1.13.4
    entrypoint: [""]
  variables:
    TF_PLUGIN_CACHE_DIR: /cache/.terraform-plugin-cache
  script:
    - terraform init
    - terraform validate
  cache:
    key: terraform-cache
    paths:
      - .terraform.lock.hcl
      - /cache/.terraform-plugin-cache
  artifacts:
    paths:
      - .terraform
    expire_in: 1 hour
  tags:
    - gitlab-runner
  only:
    - dev

plan-dev:
  stage: plan_infra
  dependencies:
    - validate-init
  image: 
    name: hashicorp/terraform:1.13.4
    entrypoint: [""]
  variables:
    TF_PLUGIN_CACHE_DIR: /cache/.terraform-plugin-cache
  before_script:
    - *common_vars
  script:
    - terraform init
    - terraform plan -out=tfplan -input=false
  cache:
    key: terraform-cache
    paths:
      - .terraform.lock.hcl
      - /cache/.terraform-plugin-cache
  artifacts:
    paths:
      - tfplan
    expire_in: 1 week
  tags:
    - gitlab-runner
  only:
    - dev

apply-dev:
  stage: apply_infra
  dependencies:
    - plan-dev
  before_script:
    - *common_vars
  image: 
    name: hashicorp/terraform:1.13.4
    entrypoint: [""]
  variables:
    TF_PLUGIN_CACHE_DIR: /cache/.terraform-plugin-cache
  script:
    - terraform init 
    - terraform apply -input=false tfplan
  cache:
    key: terraform-cache
    paths:
      - .terraform.lock.hcl
      - /cache/.terraform-plugin-cache
  only:
    - dev
  tags:
    - gitlab-runner


# stages:
#   - terraform

# before_script: *common_vars

# terraform-dev:
#   stage: terraform
#   image: 
#     name: hashicorp/terraform:1.13.4
#     entrypoint: [""]
#   variables:
#     TF_PLUGIN_CACHE_DIR: /cache/.terraform-plugin-cache
#   script:
#     - stat /cache
#     - echo 'This is the cache dir $TF_PLUGIN_CACHE_DIR'
#     - terraform init 
#     - terraform validate
#     - terraform plan -out=tfplan -input=false
#     - terraform apply -input=false tfplan
#   cache:
#     key: terraform-cache
#     paths:
#       - .terraform.lock.hcl
#     when: always
#   artifacts:
#     paths:
#       - tfplan
#     expire_in: 1 week
#   tags:
#     - gitlab-runner
#   only:
#     - dev

